{% extends "base.html" %}


{% block title %}Register{% endblock %}

{% block scripts%}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
<script>

$(document).ready(function() {	
{% if form.errors %}
	//select all the a tag with name equal to modal
	$(document).ready(function() {
		//Cancel the link behavior
		
		
		//Get the A tag
		var id ="#dialog";
	
		//Get the screen height and width
		var maskHeight = $(document).height();
		var maskWidth = $(window).width();
	
		//Set heigth and width to mask to fill up the whole screen
		$('#mask').css({'width':maskWidth,'height':maskHeight});
		
		//transition effect		
		$('#mask').fadeIn(1000);	
		$('#mask').fadeTo("slow",0.8);	
	
		//Get the window height and width
		var winH = $(window).height();
		var winW = $(window).width();
              
		//Set the popup window to center
		$(id).css('top',  winH/2-$(id).height()/2);
		$(id).css('left', winW/2-$(id).width()/2);
	
		//transition effect
		$(id).fadeIn(2000); 
	
	});
	
	//if close button is clicked
	$('.window .close').click(function (e) {
		//Cancel the link behavior
		e.preventDefault();
		
		$('#mask').hide();
		$('.window').hide();
	});		
	
	//if mask is clicked
	$('#mask').click(function () {
		$(this).hide();
		$('.window').hide();
	});			

	$(window).resize(function () {
	 
 		var box = $('#boxes .window');
 
        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();
      
        //Set height and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});
               
        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        box.css('top',  winH/2 - box.height()/2);
        box.css('left', winW/2 - box.width()/2);
	 
	});
{% endif %}	
});

</script>


{% endblock %}

{% block content %}



<article name="register">

<h1>Registration</h1>

<form action= "{% url register %}" method="post"> {% csrf_token %}
<table><tbody>
{%for field in form%}
<tr>

	<td><label>{{field.label}}</label> </td>
	<td>{{field}}</td>
</tr>
{%endfor%}
</tbody></table>
<input type="submit" value="Submit" name="send"/>
</form>

</article>

<article id="invisible">


<div id="boxes">
<div id="dialog" class="window">
{% if form.errors %}
 <ul>
	{% for field in form %}
{% if field.errors%}
		<li>{{field.label}}
		{{field.errors}}</li>
<br>
{% endif %}
	{% endfor %}
 </ul>	
{% endif %}
<div id="closement"><a href="#"class="close"/>Close it</a></div>


</div>
  <!-- Mask to cover the whole screen -->
  <div id="mask"></div>
</div>
</article>

{% endblock %}
