<html>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	{% load dajaxice_templatetags %}
	{% load staticfiles %}
	{% dajaxice_js_import 'nocsrf' %}
	<script type="text/javascript" src={% static "dajax/jquery.dajax.core.js" %}></script>

	<script>
	function save_coords(){
		center = window.myMap.getCenter();
		zoom = window.myMap.getZoom();
		Dajaxice.maps_app.save_coords(Dajax.process,{'lat':center.lat(), 'lng':center.lng(), 'zoom':zoom})

	}

	function set_location(data){
		newLatLng = new google.maps.LatLng(data.lat,data.lng);
		window.myMap.setCenter(newLatLng);
		if(data.hasOwnProperty("zoom")){
			window.myMap.setZoom(data.zoom);
		}
	}

	</script>
	{%load easy_maps_tags %}
	<body>
	{% easy_map "Poland Cracow, Lojasiewicza 6" 300 400 using "maps_app/easy_maps_template.html" %}

	<input type="text" value="" id="search_addr">
	<input type="button" onclick="Dajaxice.maps_app.go_to_location(Dajax.process,{'addr':$('#search_addr').val()})" value="Go to location">
	<input type="button" onclick="Dajaxice.maps_app.save_location(Dajax.process,{'addr':$('#search_addr').val()})" value="Save Search">
	<input type="button" onclick="save_coords();" value="coords">

	{% load saved_locations %}	
	{% for i in users_saved_locations %}
		{% saved_location i.id %}	
	{% endfor %}

	</body>
</html>
