<html>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	{% load dajaxice_templatetags %}
	{% load staticfiles %}
	{% dajaxice_js_import 'nocsrf' %}
	<script type="text/javascript" src={% static "dajax/jquery.dajax.core.js" %}></script>

	<script>
	function save_coords(){
		center = window.myMap.getCenter();
		zoom = window.myMap.getZoom();
		Dajaxice.maps_app.save_coords(Dajax.process,{'lat':center.lat(), 'lng':center.lng(), 'zoom':zoom})

	}

	</script>
	{%load easy_maps_tags %}
	<body>
	{% easy_map "Poland Cracow, Lojasiewicza 6" 300 400 using "maps_app/easy_maps_template.html" %}

	<input type="text" value="" id="result">
	<input type="button" onclick="Dajaxice.maps_app.randomize(Dajax.process)" value="Random!">
	<input type="button" onclick="save_coords();" value="coords">


	<input type="button" onclick="Dajaxice.maps_app.msg(function(d){alert(d.message);})" value="Get message from server!">
	</body>
</html>
